{% extends 'base_app/header.html' %}

{% block content %}
<div class="container" style="padding:50px;">
    <h3 style="color:teal; text-align: center;">LogIn Here</h3>
    <div class="row">
      <form class="col s12" action="{% url 'login' %}" method="post">
          {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" name="email"  class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p>
              <label>
                <input type="radio" name='user-type' class="filled-in"/>
                <span>Post a Truck</span>
              </label>
            </p>
          </div>
          <div class="col s12">
            <p>
              <label>
                <input type="radio" name='user-type' class="filled-in"  />
                <span>Hire a Truck</span>
              </label>
            </p>
          </div>
        </div>
          <input type="submit" class="waves-effect waves-light btn">
      </form>
    </div>
  </div>
{% endblock content %}
